resources/.DS_Store
.DS_Store
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace.json
.obsidian/plugins/obsidian-shellcommands/data.json
.obsidian/plugins/obsidian-shellcommands/main.js
.obsidian/plugins/obsidian-shellcommands/manifest.json
.obsidian/plugins/obsidian-shellcommands/styles.css
.obsidian/plugins/qmd-as-md-obsidian/main.js
.obsidian/plugins/qmd-as-md-obsidian/manifest.json
