:root {
  --md-primary-fg-color: #285F86;
  --md-accent-fg-color: #F59D00;
}

.md-content {
  --md-typeset-a-color: #e6007e;
}

h1, h2, h3, h4 {
  color:  #285F86 !important;
}

.md-typeset__table thead {
  background-color: #285F86;
  color: white;
}